@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  width: 1440px;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
header {
  padding: 0 4pc;
}
.head {
  width: 1440px;
  height: 109px;
  display: flex;
  gap: 56pc;
  align-items: center;
}
.head .head2 {
  width: 564px;
  height: 35px;
  display: flex;
  gap: 65px;
}
.head .head2 .ahrefs {
  width: 8px;
}
.head .head2 .ahrefs a {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  text-decoration-skip-ink: none;
  background-repeat: no-repeat;
  background-size: 10px 2px;
  background-position: left bottom;
  padding-bottom: 2px;
  text-decoration: none;
  transition: 0.3s;
}

.head .head2 .buttons {
  width: 184px;
}
.head .head2 .buttons button {
  width: 135px;
  height: 45px;
  border-radius: 15px;
  color: #fff;
}
.head .head2 .buttons button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.head .head2 .buttons button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f23d62;
  border-radius: 10rem;
  z-index: -2;
  border: none;
}



.center-text-images {
  width: 1340px;
  height: 800px;
}
.center-text-images .left-images .topimages {
  width: 245px;
  height: 182px;
  margin-left: 16pc;
}
.center-text-images .left-images .backgraund {
  background-image: url('/image/Vector.png');
  width: 530.62px;
  height: 490.89px;
  background-repeat: no-repeat;
  margin-top: 11pc;
  margin-left: 0pc;
}
.center-text-images .left-images .deeepimg {
  margin-top: -42pc;
  margin-left: 2pc;
}
.center-text-images .left-images .deeepimg img {
  width: 410px;
  height: 554px;
}
.center-text-images .center-text {
  width: 550px;
  height: 394px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-left: 32pc;
  margin-top: -42pc;
}
.center-text-images .center-text .back-gro {
  background-image: url('/image/IMAGE\ 321232.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 13pc;
}
.center-text-images .center-text .back-gro .small-text1 {
  margin-left: -13pc;
  font-family: 'Open', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
}
.center-text-images .center-text img {
  margin-left: -7pc;
}
.center-text-images .center-text h1 {
  width: 559px;
  height: 88px;
  font-family: 'Montserrat', sans-serif;
  font-size: 97px;
  font-weight: 700;
  line-height: 87.48px;
}
.center-text-images .center-text .small-text {
  width: 429px;
  height: 76px;
  font-family: 'Open', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25.2px;
  text-align: center;
  margin-left: 3pc;
  margin-bottom: 2pc;
  margin-top: 5pc;
}
.center-text-images .center-text button {
  width: 135px;
  height: 45px;
  border-radius: 15px;
  color: #fff;
}
.center-text-images .center-text button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.center-text-images .center-text button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f23d62;
  border-radius: 10rem;
  z-index: -2;
}


.center-text-images .center-text button:hover:before {
  width: 100%;
}
.center-text-images .right-images .backgraund-1 {
  background-image: url('/image/Vector\ yuvuvu.png');
  width: 530.62px;
  height: 490.89px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 55pc;
  margin-top: -25pc;
}
.center-text-images .right-images .images {
  margin-left: 65pc;
  margin-top: -25pc;
}
.center-text-images .right-images .picture {
  margin-left: 55pc;
  margin-top: -35pc;
}
.center-container {
  width: 1440px;
  height: 829px;
  margin: 0 auto;
  margin-top: 15pc;
}
.center-container .headertext2 .backimages {
  background-image: url('/image/IMAGE\ 321232.png');
  width: 34px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 45pc;
}
.center-container .headertext2 .text3 {
  width: 801px;
  height: 98px;
  align-items: center;
  margin: 0 auto;
  margin-left: 23pc;
}
.center-container .headertext2 .text3 p {
  text-align: center;
  width: 91px;
  height: 26px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  margin-left: 23pc;
  margin-top: -1.5pc;
}
.center-container .headertext2 .text3 h1 {
  width: 801px;
  height: 59px;
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 58.32px;
  margin-top: 1pc;
  margin-left: 2pc;
}
.center-container .center-block {
  width: 979px;
  height: 648px;
  margin: 0 auto;
  margin-top: 16pc;
  gap: 15pc;
}
.center-container .center-block .block-1 {
  width: 374px;
  height: 200px;
  display: block;
  justify-content: space-between;
}
.center-container .center-block .block-1 h1 {
  width: 234px;
  height: 22px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 21.6px;
  margin-top: 3pc;
}
.center-container .center-block .block-1 p {
  margin-top: 1pc;
  width: 332px;
  height: 101px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
}
.center-container .center-block .block-1 .custom-line {
  border: 0;
  height: 1px;
  background: #000;
  margin: 20px 0;
  margin-top: 2pc;
}
.center-container .center-block .block-2 {
  margin-left: 35pc;
  margin-top: -20pc;
}
.head-images {
  margin-top: 25pc;
}
.head-images img {
  width: 1540px;
  height: 137px;
}
.back-color-text-img {
  width: 1540px;
  height: 4389px;
  margin-top: -1pc;
  padding-left: 155px;
  background: #FBF1E6;
}
.back-color-text-img .head-text23 {
  width: 979px;
  height: 98px;
  padding: 5pc;
}
.back-color-text-img .head-text23 img {
  width: 65px;
  height: 35px;
  gap: 0px;
  opacity: 0px;
}
.back-color-text-img .head-text23 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 58.32px;
  text-align: left;
}
.back-color-text-img .head-text23 .long-line {
  width: 1454px;
  height: 1px;
  background: #000;
  margin: 20px 0;
  margin-top: 9pc;
}
.back-color-text-img .box {
  margin: 0 auto;
  display: block;
  justify-content: space-between;
}
.back-color-text-img .box .box1 {
  width: 979px;
  height: 505px;
  margin-top: 15pc;
  margin-left: 5pc;
}
.back-color-text-img .box .box1 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
}
.back-color-text-img .box .box1 img {
  width: 200px;
  height: 48px;
}
.back-color-text-img .box .box1 p {
  width: 336px;
  height: 126px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25.2px;
  text-align: left;
  margin-top: 2pc;
}
.back-color-text-img .box .box1 .box2 {
  margin-top: -15pc;
  margin-left: 45pc;
}
.back-color-text-img .box .box1 .box2 img {
  width: 392px;
  height: 500px;
}
.back-color-text-img .box .long-line {
  width: 1594px;
  height: 1px;
  background: #000;
  margin: 20px 0;
  margin-top: 6pc;
  margin-left: 5pc;
}
.back-color-text-img .footerimages img {
  width: 1940px;
  height: 240px;
  margin-left: -15pc;
}
.imagestext12 {
  width: 1440px;
  height: 3442px;
  margin: 0 auto;
}
.imagestext12 .head-text2323 {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 25pc;
  margin-left: 5pc;
}
.imagestext12 .head-text2323 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 58.32px;
  text-align: center;
}
.imagestext12 .boxx {
  margin-top: 20pc;
}
.imagestext12 .boxx .boxx1 {
  margin-top: 19pc;
}
.imagestext12 .boxx .boxx1 img {
  margin-left: 15pc;
}
.imagestext12 .boxx .boxx1 .backima23 {
  background-image: url('/image/Vector\ \(3\).png');
  width: 529px;
  height: 475px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 33pc;
  margin-top: -15pc;
}
.imagestext12 .boxx .boxx1 .backima23 img {
  margin-left: 26pc;
}
.imagestext12 .boxx .boxx1 .backima23 .stading {
  margin-left: 46pc;
}
.imagestext12 .boxx .boxx1 .backima23 .centertext43 {
  width: 360px;
  height: 204px;
  margin-left: 5pc;
  margin-top: -2pc;
}
.imagestext12 .boxx .boxx1 .backima23 .centertext43 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16.2px;
  text-align: left;
}
.imagestext12 .boxx .boxx1 .backima23 .centertext43 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
  margin-top: 16px;
}
.imagestext12 .boxx .boxx1 .backima23 .centertext43 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  margin-top: 16px;
}
.imagestext12 .boxx .boxx2 {
  margin-top: 19pc;
}
.imagestext12 .boxx .boxx2 img {
  margin-left: 15pc;
}
.imagestext12 .boxx .boxx2 .backima232 {
  background-image: url('/image/Vector\ \(3\).png');
  width: 529px;
  height: 475px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 33pc;
  margin-top: -15pc;
}
.imagestext12 .boxx .boxx2 .backima232 .stading {
  margin-left: 46pc;
}
.imagestext12 .boxx .boxx2 .backima232 .centertext434 {
  width: 360px;
  height: 204px;
  margin-left: 5pc;
  margin-top: -19pc;
}
.imagestext12 .boxx .boxx2 .backima232 .centertext434 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16.2px;
  text-align: left;
}
.imagestext12 .boxx .boxx2 .backima232 .centertext434 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
  margin-top: 16px;
}
.imagestext12 .boxx .boxx2 .backima232 .centertext434 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  margin-top: 16px;
}
.imagestext12 .boxx .boxx4 {
  margin-top: 19pc;
}
.imagestext12 .boxx .boxx4 img {
  margin-left: 15pc;
}
.imagestext12 .boxx .boxx4 .backima235 {
  background-image: url('/image/Vector\ \(3\).png');
  width: 529px;
  height: 475px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 33pc;
  margin-top: -15pc;
}
.imagestext12 .boxx .boxx4 .backima235 img {
  margin-left: 46pc;
}
.imagestext12 .boxx .boxx4 .backima235 .centertext435 {
  width: 360px;
  height: 204px;
  margin-left: 5pc;
  margin-top: -15pc;
}
.imagestext12 .boxx .boxx4 .backima235 .centertext435 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16.2px;
  text-align: left;
}
.imagestext12 .boxx .boxx4 .backima235 .centertext435 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
  margin-top: 16px;
}
.imagestext12 .boxx .boxx4 .backima235 .centertext435 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  margin-top: 16px;
}
.imagestext12 .boxx .boxx5 {
  margin-top: 19pc;
}
.imagestext12 .boxx .boxx5 img {
  margin-left: 15pc;
}
.imagestext12 .boxx .boxx5 .backima236 {
  background-image: url('/image/Vector\ \(3\).png');
  width: 529px;
  height: 475px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 33pc;
  margin-top: -15pc;
}
.imagestext12 .boxx .boxx5 .backima236 img {
  margin-left: 39pc;
}
.imagestext12 .boxx .boxx5 .backima236 .centertext436 {
  width: 360px;
  height: 204px;
  margin-left: 5pc;
  margin-top: -18pc;
}
.imagestext12 .boxx .boxx5 .backima236 .centertext436 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16.2px;
  text-align: left;
}
.imagestext12 .boxx .boxx5 .backima236 .centertext436 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
  margin-top: 16px;
}
.imagestext12 .boxx .boxx5 .backima236 .centertext436 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  margin-top: 16px;
}
.headimages2 img {
  width: 1530px;
  height: 213px;
  margin-top: 29pc;
}
.ourteam {
  width: 1540px;
  height: 1287px;
  margin-top: -1pc;
  background: #FDDBE2;
}
.ourteam .head-text44 img {
  margin-top: 15pc;
  margin-left: 15pc;
}
.ourteam .center-text55 {
  width: 979.22px;
  height: 881.41px;
  margin: 0 auto;
  margin-top: 5pc;
  margin-left: 13pc;
}
.ourteam .center-text55 .up {
  display: flex;
  text-align: center;
  gap: 5pc;
}
.ourteam .center-text55 .up1 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16.2px;
  text-align: center;
}
.ourteam .center-text55 .up1 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: center;
}
.ourteam .center-text55 .down {
  display: flex;
  text-align: center;
  gap: 5pc;
}
.ourteam .center-text55 .down1 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16.2px;
  text-align: center;
}
.ourteam .center-text55 .down1 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: center;
}
.ourteam .images-footer55 img {
  width: 1840px;
  height: 112px;
  margin-top: -2pc;
}
.content2 {
  width: 1440px;
  height: 707px;
}
.content2 .backimgt {
  margin-top: 13pc;
}
.content2 .backimgt img {
  margin-left: 2pc;
}
.content2 .headtext45 {
  text-align: center;
  margin-top: -49px;
}
.content2 .headtext45 img {
  margin-left: 9pc;
}
.content2 .centertext4544 {
  margin-left: 23pc;
  margin-top: 15pc;
}
.head-images img {
  margin-top: 25pc;
}
.footer15 {
  width: 1540px;
  height: 541px;
  margin-top: -1pc;
  background: #D3D4ED;
}
.footer15 .left-headimg {
  margin-left: 5pc;
}
.footer15 .navigator-bar {
  width: 979px;
  height: 317px;
  margin-left: 19pc;
  margin-top: -4pc;
}
